<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{  url_for('static', filename='css/style.css')  }}">
    <title>Блюдо</title>
</head>
<body>
    <div class="dish">

        <div class="dish_image_info">

        <div class="dish_image_detail">
            <img src="{{ url_for('static', filename='uploads/' + dish.image) }} " class="dish_image_detail">
        </div>

        </div>


        <div class="dish_text_info">
            <div class="dish_name">
                {{dish.name}}
            </div>

            <div class="back">

                    <a href="{{ url_for('index') }}">

                    <img src="{{ url_for('static', filename='uploads/back_img.jpg') }}" 
                    alt="Назад к меню" style="width: 24px; height: 24px;">

                    </a>

            </div>

            <div class="dish_describtion">
                {{dish.describtion}}
            </div>

            <form action="{{ url_for('delete_dish', id=dish.id) }}" method="post">
                            <button
                                type="submit"
                                onclick="return confirm('Вы уверены, что хотите удалить статью?')"
                            >
                                Удалить
                            </button>
            </form>


        
         
            
        
            <div class="dish_dop_info">

             
           

                <div class="add_cart">
                <form action="{{ url_for('add_to_cart', dish_id=dish.id) }}" method="POST">
                    <button type="submit" class="btn_cart">Добавить блюдо в корзину
                        {{dish.price}} ₽
                    </button>
                </form>
                </div>

            </div>

        </div>



    </div>
</body>
</html>