<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Корзина</title>
</head>
<body>

<div class="basket">
    <h1>Ваш заказ:</h1>
    {% if dishes %}
        <div class="basket-grid">
            {% for dish in dishes %}
                <div class="basket-card">
                    <div class="dish-info">
                        <span class="dish-name">{{ dish.name }}</span>
                        <span class="dish-price">{{ dish.price }} руб.</span>
                        <span class="dish-quantity">{{ dish.quantity }} шт.</span>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="empty-basket">Ваша корзина пуста.</p>
    {% endif %}
</div>

</body>
</html>
