<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{  url_for('static',filename='style.css')  }}">
    <title>Добавление блюда</title>
</head>
<body>
    <h1>Добавить блюдо</h1>
    

    <form 
    action="{{  url_for('add_menu') }}"
    method="post"
    enctype="multipart/form-data"
    class="add_menu_form"
    >

    <div class="form_group">
        <label for="name">Название блюда</label>
        <input type="text" id="name" required name="name">
    </div>
    
    <div class="form_group">
        <label for="describtion">Описание блюда</label>
        <input type="text" id="describtion" required name="describtion">
    </div>
    
    <div class="form_group">
            <label for="photo">Изображение блюда</label>
            <input type="file" id="photo" name="photo" accept=".jpeg, .jpg, .png"> 
        </div>

    <div class="form_group">
        <label for="price">Цена блюда</label>
        <input type="text" id="price" required name="price">
    </div>
    

    <button type="submit">Добавить блюдо</button>
    

    
    </form>
</body>
</html>