<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    


    <form 
    action="{{  url_for('create_order') }}"
    method="post"
    enctype="multipart/form-data"
    class="add_menu_form"
    >

    <div class="form_group">
        <label for="customer_name">Имя получателя</label>
        <input type="text" id="customer_name" required name="customer_name">
    </div>
    
    <div class="form_group">
        <label for="phone">Номер телефона</label>
        <input type="text" id="phone" required name="phone">
    </div>
    
    <div class="form_group">
            <label for="address">Адресс доставки</label>
            <input type="text" id="address" name="address"> 
        </div>

    <div class="form_group">
        <label for="delivery_time">Время доставки</label>
        <input type="time" id="delivery_time" required name="delivery_time">
    </div>
    
    <div class="form_group">
        <label for="payment_method">Способ оплаты</label>
        <input type="text" id="payment_method" required name="payment_method">
    </div>

    <div class="form_group">
        <label for="status">Статус</label>
        <input type="text" id="status" required name="status">
    </div>

    <button type="submit">Заказать</button>

</body>
</html>