<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{  url_for('static',filename='style.css')  }}">
    <title>Блюдо</title>
</head>
<body>
    <div class="dish">


        <div class="dish_image_detail">
            <img src="{{ url_for('static', filename='uploads/' + dish.image) }} " class="dish_image_detail">
        </div>

        <div class="dish_name">
            {{dish.name}}
        </div>

        <div class="dish_describtion">
            {{dish.describtion}}
        </div>

        
         
        <div class="dish_price">
            
            <button class="header_button_price">
                {{dish.price}} ₽

            </button>
        </div>

        <div class="dish_tocart">

        <button class="header_button_price">

            <a href="">Добавить в корзину</a>
        </button>    

        </div>
        

        <a href="{{ url_for('index') }}">Назад к меню</a>




    </div>
</body>
</html>