<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Блюдо</title>
</head>
<body>
    <div class="dish">


        <div class="dish_image">
            {{dish.image}}
        </div>

        <div class="dish_name">
            {{dish.name}}
        </div>

        <div class="dish_describtion">
            {{dish.describtion}}
        </div>

        <div class="dish_price">
            {{dish.price}}
        </div>





    </div>
</body>
</html>