<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{  url_for('static',filename='style.css')  }}">
    <title>Menu</title>
</head>
<body>
    <div class="main">
    
        <div class="header">

            {% if user_email %}
            <p>Вы вошли как: {{ user_email }}</p>

            <form action="{{ url_for('logout') }}" method="post">
                <button class="header_button">
                    выйти
                </button>
                {% else %}
            </form>
            
           
            <form action="{{ url_for('login') }}" method="get">
                <button class="header_button">
                    войти
                </button>
                {% endif %}
            
            </form>
            <a class="header_button" href="{{ url_for('register')}}">зарегестрироваться</a>

            </form>
            
        

            <div class="basket">
                <form action="{{ url_for('show_cart') }}" method="POST">
                    <button type="submit">Корзина
                    </button>
                </form>
            
            </div>
        
        
            </div>




    <div class="dish_list">
        <h1>Доступное меню:</h1>



            <div class="dish_table">
                {% for dish_group in groups %}

                <div class="dish_table_row">
                    {% for dish in dish_group %}

                    <div class="dish_card">
                        <a href="{{ url_for('get_dish', name=dish.name) }}" class="link_dish">
                        <div class="dish_card_info">
                        <h3>
                        
                            <img src="{{ url_for('static', filename='uploads/' + dish.image) }} " class="dish_image">
                        


                        </h3>
                        

                        
                           <b> <h4>{{dish.name}}</h4> </b>
                        
                        
                        
                        <button class="header_button_price">
                                {{dish.price}} ₽

                        </button>   

                        </a>
        
                        </div>
                        
                        
                    </div>

                {% endfor %}
                </div>
                {% endfor %}

            </div>

    </div>
    
    

    </div>
</body>
</html>