<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>
<body>
    
    <div class="menu">
        <h1>Доступные блюда</h1>

        <div class="dish_body">

            <div class="dish_name">
                чикен ролл
            </div>    

            <div class="dish_image">
            
            </div>

            <div class="dish_content">
            
            </div>
        
        </div>
    
        
    </div>
</body>
</html>